body
{
    background: #77ddff;
    margin:0 auto;

}
.game
{
    text-align: center;
}

#num,#rate
{
    color:#ff00ff;
}

#result{
    color:#ff0000;
    font-size:50px;
}
#my-result,#computer-result{
    height:133px;
    width:133px;
}